/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: Comfortaa, cursive;
}
html h1 {
  font-size: 3rem;
  padding: 3% 0 1% 0;
  color: #46792f;
}
html h2 {
  font-size: 2rem;
  padding: 0 0 3% 0;
  border-bottom: 1px solid black;
}
html p {
  padding: 1% 0 0 0;
  font-size: 1.5rem;
  color: black;
}
html li {
  padding: 1% 0 0 0;
  font-size: 1.5rem;
  color: black;
}
html button {
  font-family: Comfortaa, cursive;
  font-size: 2rem;
}
.header nav {
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 2%;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 500px) {
  .header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.header nav a {
  color: #007ba7;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1%;
  padding: 1%;
}
@media (min-width: 500px) {
  .header nav a {
    width: 80%;
  }
}
.footer nav {
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 2%;
  display: flex;
  justify-content: space-around;
}
.footer nav a {
  color: #007ba7;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1%;
  padding: 1%;
}
@media (min-width: 500px) {
  .footer nav a {
    width: 80%;
  }
}
div {
  justify-content: center;
  align-content: center;
  text-align: center;
}
div .header {
  padding: 0 2%;
  border-bottom: 1px solid black;
}
div .body {
  margin: auto;
}
div img {
  width: 100%;
  height: 5%;
}
div .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40% 0;
}
@media (min-width: 500px) {
  div .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 15% 0;
  }
}
@media (min-width: 800px) {
  div .main {
    margin: 10% 0 0 0;
  }
}
div .main .top-left {
  margin: 0;
  padding: 2%;
  width: 90%;
}
@media (min-width: 500px) {
  div .main .top-left {
    width: 40%;
  }
}
div .main img {
  width: 20rem;
  height: 20rem;
  padding: 2% 0 10% 0;
  margin: 2% 0 2% 0;
}
div .top-right {
  margin: 0 0 15% 0;
  padding: 2%;
  width: 90%;
}
@media (min-width: 500px) {
  div .top-right {
    width: 40%;
  }
}
div .reason {
  height: 18rem;
  color: #46792f;
  margin: 15% 0 0 0;
  padding: 2%;
  background-color: white;
}
@media (min-width: 500px) {
  div .reason {
    height: 30rem;
  }
}
@media (min-width: 800px) {
  div .reason {
    height: 20rem;
  }
}
div .features {
  height: 22rem;
  color: #46792f;
  margin: 0 0 5% 0;
  padding: 2%;
  background-color: white;
}
@media (min-width: 500px) {
  div .features {
    height: 40rem;
  }
}
@media (min-width: 800px) {
  div .features {
    height: 30rem;
  }
}
div .features img {
  width: 100%;
  height: 50%;
  margin: 20% 0 10% 0;
  padding: 0 0 10% 0;
}
div .btn-sect {
  justify-content: space-evenly;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div .btn-sect button {
  color: #46792f;
  margin: 5% 0 5% 0;
  width: 20rem;
  height: 10rem;
  border: 1px solid #773f1a;
  border-radius: 100%;
  background-color: white;
}
@media (min-width: 800px) {
  div .btn-sect button {
    margin: 10% 0;
  }
}
@media (min-width: 500px) {
  div .btn-sect {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
