div {
    .center();

    .header {
        padding: 0 2%;
    }

    .body {
        margin: auto;
    }

    img {
        width: 100%;
        height: 10%;
    }

    .main {
        margin: 2% 0;
        .position(column);

        @media @tablet {
            .position(row);
        }

        @media @desktop {
            margin: 10% 0 0 0;
        }

        .top-left {
            margin: 0;
            padding: 2%;
            width: 90%;

                @media @tablet {
                    width: 40%;
                }
            }

            img {
                width: 20rem;
                height: 20rem;
                padding: 2% 0 10% 0;
                margin: 2% 0 2% 0;
                }
        }
    
        .top-right {
            margin: 0 0 15% 0;
            padding: 2%;
            width: 90%;

            @media @tablet {
                width: 40%;
            }
        }

        .reason {
            height: 18rem;
            color: @bgGreen;
            margin: 15% 0 0 0;
            padding: 2%;
            background-color: @txtWhite;

            @media @tablet {
                height: 30rem;
            }

            @media @desktop {
                height: 20rem;
            }
        }

        .features {
            height: 22rem;
            color: @bgGreen;
            padding: 2%;
            background-color: @txtWhite;

            @media @tablet {
                height: 40rem;
            }

            @media @desktop {
                height: 30rem;
            }

            img {
                width: 100%;
                height: 50%;
                margin: 20% 0 10% 0;
                padding: 0 0 10% 0;
            }
        }


    .btn-sect {
        display: flex;
        justify-content: space-evenly;

        button {
            color: @txtWhite;
            margin: 30% 0;
            width: 15rem;
            height: 5rem;
            border: 1px solid @txtWhite;
            border-radius: 100%;
            background-color: @bgOrangered;

            @media @desktop {
                margin: 10% 0;
            }
        }

        @media @tablet {
            .position(row, center);
        }
    }

    .learn-more {
        width: 80%;
        margin: 0 10%;
    }
}

